<ion-view title="Contato" id="page2" style="background-color:#BFCCD8;">
    <ion-content padding="true" class="has-header">
        <div id="contato-markdown8" style="color:#000000;font-size:27px;">
            <p>Fale conosco</p>
        </div>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <div id="contato-markdown7" style="color:#000000;">
            <p>Utilize o formulário abaixo para entrar em contato com a nossa escola. Tire suas dúvidas, dê suas sugestões. Esperamos o seu contato. Nome *</p>

            <p>Telefone *</p>

            <p>E-mail *</p>

            <p>Assunto *</p>

            <p>Texto da mensagem *</p>
        </div>
    </ion-content>
</ion-view>