<ion-view title="Home" id="page1" style="background-color:#BFCCD8;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Z9dI5UGREehDxePyYXPw_flor.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 39px;"></div>
        <div id="home-markdown2" style="color:#190F0F;font-size:15px;">
            <p>Bem Vindos a Empresa C.P.S Etec Doutora Ruth Cardoso Oferece o curso Plataforma Hibrida.</p>

            <p>Com Professores</p>

            <p>André Luiz Seoane do Espírito Santo Silva.</p>

            <p>Eric de Oliveira de Andrade.</p>

            <p>Alguns Sábados 14:00 às 18:00 hrs.</p>
        </div>
    </ion-content>
</ion-view>